.whoweare_image {
    border-radius: 10px;
    margin-top: 0.5rem;
}

.choose_column {
    background: #e8e8e9;
    border-radius: 10px;
}

.single_feature span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: #FFDB89;
}

.single_feature span i {
    font-size: 1.5rem;
}

.choose_content h4 {
    margin-bottom: 15px;
}

.single_feature h6 {
    margin-bottom: 0px;
}

.single_feature p {
    font-size: 0.7rem;
}

.feature_icon_two {
    background: greenyellow !important;
}

.feature_icon_three {
    background: orange !important;
}

.feature_icon_four {
    background: violet !important;
}

@media only screen and (max-width: 992px) {
    .choose_content h2 {
        font-size: 1,5rem;
    }

    .choose_content {
        width: 100%;
    }

    .whoweare_image {
        display: block;
        margin-bottom: 10rem;
    }

    .choose_content h4 {
        font-size: 1rem;
    }

    .choose_content p {
        font-size: 0.8rem;
    }

    .single_feature h6 {
        font-size: 0.8rem;
    }

    .single_feature p {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .whoweare_image {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    .choose_column {
        margin-left: 0.3rem;
    }
}