

.filter_btn {
    border: 1px solid rgb(199, 55, 50);
    padding: 7px 25px;
    background: transparent;
    margin-left: 15px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.filter_btn:hover {
    background: rgb(199, 55, 50);
    color: white;
}

.active_btn {
    background: rgb(199, 55, 50);
    color: white;
}

@media only screen and (max-width: 992px) {
    .menu_title {
        font-size: 1.4rem;
    }
    
    .filter_btn {
        padding: 5px 20px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .filter_btn {
        margin-bottom: 15px;
    }
}