

.filter_btn {
    border: 1px solid #FFDB89;
    padding: 7px 25px;
    background: transparent;
    margin-left: 15px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.active_btn {
    background: #FFDB89;
}

@media only screen and (max-width: 992px) {
    .menu_title {
        font-size: 1.4rem;
    }
    
    .filter_btn {
        padding: 5px 20px;
        font-size: 0.8rem;
    }
}