.single_product {
    border-radius: 10px;
    cursor: pointer;
    animation: animate 0.5s ease-in;
}

.single_product:hover {
    box-shadow: 5px 5px 10px -5px grey;
    transition: 0.3s;
}

.product_content {
    padding: 0px 20px;
    padding-bottom: 15px;
}

.product_content h5 {
    text-align: center;
    font-family: "Mulish", sans-serif;
}

.rating span i {
    color: #49111c;
}

.rating {
    margin-bottom: 10px;
}

.price {
    font-family: "Mulish", sans-serif;
}

.price span {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

@keyframes animate {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 767px) {
    .product_content h6 {
        font-size: 0.9rem;
    }

    .price {
        font-size: 0.8rem;
    }

    .price span {
        font-size: 0.9rem;
    }
}