.slider_wrapper {
    margin-left: 2rem;
}

.btn {
    padding: 7px 25px;
    border-radius: 5px;
    background: #49111c;;
    color: #f2f4f3;
    font-size: 0.9rem;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
}
.btn:hover {
    color: black;
}

.slider_image {
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    .slider_content h2 {
        font-size: 1.5rem;
    }

    .slider_content p {
        font-size: 0.8rem;
    }

    .slider_content .btn {
        padding: 5px 25px;
        font-size: 0.7rem;
    }
    
}

@media only screen and (max-width: 767px) {
    .slider_content {
        padding-left: 0;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }

    .slider_wrapper {
        margin-left: 0rem;
    }
}