.app_container {
    border-radius: 10px;
}

.app_content h2{
    font-weight: 600;
}

.app_content {
    padding-top: 50px;
}

a:hover {
    color: black;
    transition: 0.5s ease-in-out;
}

.btn_instagram {
    border: transparent;
    padding: 7px 25px;
    border-radius: 5px;
    background: #C13584;
    color: #f2f4f3;
    transition: 0.5s ease-in-out;
}

.btn_instagram i {
    font-size: 20px;
}

.btn_twitter i {
    font-size: 20px;
}

.btn_twitter {
    border: transparent;
    padding: 7px 25px;
    border-radius: 5px;
    background: #1DA1F2;
    color: #f2f4f3;
    transition: 0.5s ease-in-out;
}

.btn_twitter:hover {
    color: black;
    background: transparent;
}

.btn_instagram:hover {
    color: black;
    background: transparent;
}

.btn_google:hover a {
    color: black;
}

@media only screen and (max-width: 992px) {
    .app_img img {
        width: 100%;
        margin-top: 2.5rem;
    }

    .app_content h5 {
        font-size: 1rem;
    }

    .app_content h2 {
        font-size: 1.5rem;
    }

    .app_content p {
        font-size: 0.7rem;
        line-height: 25px;
    }

    .btn_apple, .btn_google {
        padding: 5px 20px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {

    .app_content {
        padding: 30px;
    }

    .app_img {
        margin-bottom: 0;
    }
}