.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #49111c;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_h h3 {
    margin-bottom: 0;
    color: #f2f4f3 !important;
}

.nav_list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
    column-gap: 2.7rem;
    font-family: "Mulish", sans-serif;
}

.nav_item a{
    color: #f2f4f3;
    cursor: pointer;
    transition: 0.3s;
}

.nav_item a:hover {
    color: #a9927d;
}


.mobile_menu span i {
    font-size: 1.3rem;
}

.mobile_menu {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}


.badge {
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 1000;
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
}


@media only screen and (max-width:992px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: 99;
        display: none;
    }

    .nav_list_wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        z-index: 100;
        background: #49111c;
        flex-direction: column !important;
        box-shadow: 5px 5px 15px -5px red;
        justify-content: center !important;
        padding: 0px 20px;
    }

    .nav_list {
        flex-direction: column;
        padding: 0;
    }

    .nav_item a {
        font-size: 0.9rem;
    }

    .header {
        line-height: 40px;
        height: 60px;
        padding: 10px 0px;
    }

    

    .mobile_menu {
        visibility: visible;
        opacity: 1;
        transition: visible 0.5, opacity 0.5s ease-in;
        color: #f2f4f3;
    }

    .logo h2 {
        font-size: 1.5rem;
    }
    .active_menu {
        display: block;
        transition: 0.3s;
    }
}