.footer {
    padding-bottom: 0;
    background: #a9927d;
}

.logo h3 {
    color: #5e503f;
}

.logo p {
    color: #5e503f;
}

.footer_link-title {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    color: #0a0908;
}

.link_item {
    padding-left: 0;
    background: transparent;
    transition: 0.5s ease-in-out;
    border-color: transparent;
    font-family: "Mulish", sans-serif;
    color: #0a0908;
}

.link_item i {
    font-size: 20px;
}

.link_item a {
    color: unset;
}

.link_item a:hover {
    color: #f2f4f3 !important;
}


.link_item:hover {
    background: #49111c;
    color: #f2f4f3 !important;
}

.link_item_f {
    padding-left: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    border-color: transparent;
    font-family: "Mulish", sans-serif;
    color: #0a0908;
}

.link_item_f i {
    font-size: 20px;
}

.link_item_t {
    padding-left: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    border-color: transparent;
    font-family: "Mulish", sans-serif;
    color: #0a0908;
}

.link_item_t i {
    font-size: 20px;
}

.link_item_l {
    padding-left: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    border-color: transparent;
    font-family: "Mulish", sans-serif;
    color: #0a0908;
}

.link_item_l i {
    font-size: 20px;
}

.link_item_f:hover {
    background: #4267B2;
    transition: 0.5s ease;
    color: #f2f4f3 !important;
    cursor: pointer;
}

.link_item_t:hover {
    background: #1DA1F2;
    transition: 0.5s ease;
    color: #f2f4f3 !important;
    cursor: pointer;
}

.link_item_l:hover {
    background: #0077b5;
    transition: 0.5s ease;
    color: #f2f4f3 !important;
    cursor: pointer;
}

.link_item_f a:hover {
    color: #f2f4f3;
}

.link_item_t a:hover {
    color: #f2f4f3;
}

.link_item_l a:hover {
    color: #f2f4f3;
}


.footer_bottom {
    padding: 20px 0px;
    text-align: center;
    margin-top: 50px;
}

.footer_bottom p {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.copyright p{
    color: #5e503f;
}

.copyright a {
    color: #49111c;
    transition: 0.5s ease;
}

.copyright a:hover {
    color:#f2f4f3;
}



@media only screen and (max-width: 992px) {
    .link_item a {
        font-size: 0.8rem;
    }

    .link_item {
        font-size: 0.8rem;
    }

    .link_item_f {
        font-size: 0.8rem;
    }

    .link_item_t {
        font-size: 0.8rem;
    }

    .link_item_l {
        font-size: 0.8rem;
    }

    .logo p {
        font-size: 0.8rem;
    }

    .footer_bottom p {
        font-size: 0.7rem;
    }

    .footer_bottom {
        padding: 15px 0px;
    }
}